* {
    background-color: rgb(137, 137, 215);
    font-family: "Comic Sans MS", cursive
}

h1 {
    font-size: 50px;
    margin: 10px;
    padding: 5px 20px;
}
h1, button {
    border-radius: 20px;
    border: 3px solid rgb(1, 1, 1);
}

.neon {
  color: #ee2b2b;
  text-shadow: 
    0 0 10px rgb(243, 191, 176);
}
body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.buttons { /* entire row containing 2 buttons is a flex container */
    display: flex;
    flex-direction: row;
    gap: 280px;
}

button {
    padding: 0 20px;
    width: 150px;
}

#container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    width: 568px;
    height: 568px;
}

.column {
    display: flex;
    aspect-ratio: 1;
    background-color: lightgrey;
}


footer {
    display: block;
    font-size: 20px;
}